@import '../../../variables';

.View__default {
  overflow-y: auto;
  height: calc(100vh - (80px + 50px));
}

.ListItem {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
}

.ListItem__meta {
  flex: 0 0 30%;
  max-width: 30%;
  font-size: 85%;
  color: $ListItem__meta-color;
}

.ListItem__attr {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 30px;
  > div, > svg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  > div:first-of-type {
    text-align: right;
    margin-right: 10px;
  }
}

.ListItem__content {
  flex: 0 0 70%;
  max-width: 70%;
  color: $ListItem__title-color;
}

.ListItem__tags {
  display: flex;
  flex-wrap: wrap;
  div {
    font-size: 90%;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 1px 3px;
    color: $ListItem__tag-color;
    background-color: $ListItem__tag-bg;
  }
}
