@import "../../variables";


.HeaderButton {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  height: 49px !important;
  width: 49px !important;
  background-color: $HeaderButton-bg !important;
  border: $HeaderButton-border !important;
  box-shadow: none !important;
  &:hover {
    background-color: $HeaderButton-bg-hover !important;
    border: $HeaderButton-border !important;
    box-shadow: none !important;
    cursor: pointer !important;
  }
  &:focus {
    background-color: $HeaderButton-bg !important;
    border: $HeaderButton-border !important;
    box-shadow: none !important;
    outline: none !important;
  }
}

.HeaderButton--selected {
  background-color: $HeaderButton-bg-focus !important;
  &:hover {
    background-color: $HeaderButton-bg-focus !important;
  }
  &:focus {
    background-color: $HeaderButton-bg-focus !important;
  }
}

.HeaderButton--hovered {
  background-color: $HeaderButton-bg-hover !important;
}

.HeaderButton--none {
  border: none !important;
  cursor: default !important;
  background-color: transparent !important;
  &:hover, &:focus {
    background-color: transparent !important;
  }
}

.HeaderButton--loading {
  background-color: $HeaderButton-bg-hover;
  cursor: wait;
  &:hover {
    cursor: wait;
    background-color: $HeaderButton-bg-hover;
  }
  &:focus {
    cursor: wait;
    outline: none;
    background-color: $HeaderButton-bg-hover;
  }
}
