@import "../../variables";


.HeaderButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  height: 49px;
  width: 49px;
  background-color: $HeaderButton-bg;
  border: $HeaderButton-border; 
  &:hover {
    background-color: $HeaderButton-bg-hover;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

.HeaderButton--selected {
  background-color: $HeaderButton-bg-focus;
  &:hover {
    background-color: $HeaderButton-bg-focus;
  }
}

.HeaderButton--hovered {
  background-color: $HeaderButton-bg-hover;
}

.HeaderButton--none {
  border: none;
  cursor: default !important;
  background-color: transparent;
  &:hover, &:focus {
    background-color: transparent;
  }
}

.HeaderButton--loading {
  background-color: $HeaderButton-bg-hover;
  cursor: wait;
  &:hover {
    cursor: wait;
    background-color: $HeaderButton-bg-hover;
  }
  &:focus {
    cursor: wait;
    outline: none;
    background-color: $HeaderButton-bg-hover;
  }
}
