@import '../../variables';

@mixin hover-selected($fill, $stroke, $hover) {
  width: 100%;
  path {
    fill: $fill;
    stroke: $stroke;
  }
  &--selected,
  &--hovered {
    path {
      fill: $hover;
    }
  }
}

.Filter, .Sort {
  @include hover-selected($Filter-fill, $Filter-stroke, $Filter-fill--hover);
}
.Settings {
  @include hover-selected($Settings-fill, $Settings-stroke, $Settings-fill--hover);
}

.Star {
  @include hover-selected($Star-fill, $Star-stroke, $Star-fill--hover);
  &--loading {
    animation: spin infinite 1s linear;
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

