// Colors

$gray-lighter:      #FAFAFA;
$gray-light:        #E3E3E3;
$gray-dark:         #C1C1C1;
$gray-darker:       #9C9C9C;   
$gray-darkest:      #6F6F6F;
$blue-lighter:      #F6FBFF;
$blue-light:        #A7DAFF;
$blue-dark:         #0D5B8F;
$orange-lighter:    #FCE2C6;
$orange-light:      #FFC07F;
$yellow-lighter:    #FFEC9F;
$yellow-light:      #FFD42D;
$red:               #913f47;
$red-light:         #fce9eb;

// Components

$Header-bg:         $gray-lighter;
$Header-border:     1px solid $gray-light;

$HeaderButton-bg:         $blue-lighter;
$HeaderButton-bg-hover:   darken($HeaderButton-bg, 5%);
$HeaderButton-bg-focus:   $blue-light;
$HeaderButton-border:     1px solid $blue-light;

$Filter-fill:             $orange-lighter;
$Filter-stroke:           $orange-light;
$Filter-fill--hover:      $orange-lighter;
$Filter-fill--focus:      $orange-lighter;

$Sort-fill:               $orange-lighter;
$Sort-stroke:             $orange-light;
$Sort-fill--hover:        $orange-lighter;
$Sort-fill--focus:        $orange-lighter;

$Settings-fill:            $gray-light;
$Settings-stroke:          $gray-dark;
$Settings-fill--hover:     $gray-light;
$Settings-fill--focus:     $gray-light;

// $Thumbsup-fill:            $gray-light;
$Thumbsup-stroke:          $gray-dark;

$Eye-fill:            $gray-light;
$Eye-stroke:          $gray-dark;

$Star-fill:                $yellow-lighter;
$Star-stroke:              $yellow-light;
$Star-fill--hover:         $yellow-lighter;
$Star-fill--focus:         $yellow-lighter;

$View__header-font-color:  $gray-darkest;
$View__input-color:        $gray-darkest;
$View__error-color:        $red;
$View__error-bg:           $red-light;
$View__error-border:       1px dashed $red;

$ListItem__meta-color:     $gray-darker;
$ListItem__title-color:    $blue-dark;
